<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CapgBanking</title>
<link type="text/css" rel="stylesheet" href="./styles/mainStyles.css">
</head>
<body>

<div id="mainCnt">
	<h2 align="center">CapgBanking Process</h2>
	<hr>
	
	<ul>
		<li><a href="view/createAccount.html" target="mainfrm">Create Account</a></li>
		<li><a href="#" target="mainfrm">Deposit/withdraw</a></li>
		<li><a href="#" target="mainfrm">Fund Transfer</a></li>
		<li><a href="#" target="mainfrm">Transaction Summary</a></li>
		<li><a href="#">Logout</a></li>
	
	</ul>
	<div id="ctrCnt">
		<iframe name="mainfrm" width="800px" height="300px" src="view/titlePage.html"></iframe>
	
	</div>
<div id="footer">
<div style="float:left;padding-left: 10px;">CapgBanking</div>
<div style="margin-left:650px;">Capg-FLP-2018</div>
</div>
</div>

</body>
</html>